/* * {
    border: 1px dashed red;
    min-height: 10px;
} */

body {
    background-color:black;
    margin:0px;
    display:flex;
    justify-content:center;
width:100%;
height:100vh;
align-items: center
}

.post{
 
    width:400px;
    height:420px;
    background-color:white;
padding:0px;
margin:0px;
margin-top:50px;
justify-content: center;
}

.postheader{
height:40px;
display:flex;
width:100%;
justify-content:space-between;

}

.headerizquierdo{
padding:0px 0px 0px 15px;
    display:flex;
}

.headerizquierdo p{
    padding: 0px 0px 0px 5px;
    font-size:10px;
}

.profilepic img {
    padding:0;
    height:40px;
    object-fit:contain;
    width:20px;
  
    

}


.trespuntos img {
    height:40px;
    object-fit:contain;
    width:20px;
    padding: 0px 15px 0px 0px;
}

.imgpost{
    width:100%;
    height:200px;
    margin:0px;
    padding:0px 0px 0px 0px;
}


.imgpost img{
    margin:0px;
    object-fit:cover;
    height:200px;
    width:100%;
    
  
}

.iconbar{
    margin:0px;
    display:flex;
    justify-content: space-between;
    padding:30px 15px 7px 15px;
}

.textpost{
    padding:10px 15px 7px 15px;
font-size:10px;
margin:0px;
}